
<img src="https://s3.envato.com/files/239186292/IMG_6244.jpg" class="bg">

<mat-card class="titulo">
  Registro de Solicitud de Limpieza
</mat-card>

<mat-card>

  <mat-card class="registro1">
    <span>Fecha: </span>
        <input class="mdc-text-field__input" type="text" aria-labelledby="my-label-id">
  </mat-card>

  <mat-card class="registro1">
    <span>Hora Inicio: </span>
    <input class="mdc-text-field__input" type="text" aria-labelledby="my-label-id">
  </mat-card>
  <mat-card class="registro1">
    <span>Hora Fin: </span>
    <input class="mdc-text-field__input" type="text" aria-labelledby="my-label-id">
  </mat-card>
  <mat-card class="registro1">
    <span>Dirrección: </span>
    <input class="mdc-text-field__input" type="text" aria-labelledby="my-label-id">
  </mat-card>
  <mat-card class="registro1">
    <span>Distrito: </span>
    <input class="mdc-text-field__input" type="text" aria-labelledby="my-label-id">
  </mat-card>
  <mat-card class="registro1">
    <span>Referencia: </span>
    <input class="mdc-text-field__input" type="text" aria-labelledby="my-label-id">
  </mat-card>

</mat-card>

<mat-card>
  <button mat-button class="botonregistro" type="submit" routerLink="/client">Registrar</button>
</mat-card>
