
html {

}

.titulo-cards{

}


.master-center{
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
}


.button-card {
  max-width: 400px;
  margin-bottom: 8px;
}

.button-center{
  display: flex;
  justify-content: center;
  align-items: center;
}


