.bg {
  position: fixed;
  top: 0;
  left: 0;

  /* Preserve aspet ratio */
  min-width: 100%;
  min-height: 100%;
}

.master-center{
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
}


.button-card {
  max-width: 400px;
  margin-bottom: 8px;
}

.button-center{
  display: flex;
  justify-content: center;
  align-items: center;
}


