

<div fxLayourAlign="center center ">
  <mat-card fxFlex="25">
    <mat-toolbar color="primary">Login Client Page</mat-toolbar>

    <form fxLayoutAlign="stretch" fxLayout="Column" class="login-form-client">
    <mat-form-field>
      <input matInput placeholder="Username">
    </mat-form-field>

    <mat-form-field>
      <input matInput type="password" placeholder="Password">
    </mat-form-field>
      <button mat-raised-button type="submit" routerLink="client">Login</button>
    </form>
  </mat-card>
</div>



