<img src="https://s3.envato.com/files/239186292/IMG_6244.jpg" class="bg">
<mat-card class="texto-encabezado">

  <span >Historial de Servicios de Limpieza Realizados</span>
  <img src="https://i.ibb.co/Dw3bncw/Clean-Finder.png" class="pequeña-imagen" />
  <div class="spacer"></div>
  <button mat-button type="submit" routerLink="/client">
    Regresar
  </button>

</mat-card>

<mat-card class="Contenido1">

  <mat-accordion>

    <mat-expansion-panel>
      <mat-expansion-panel-header>
        <mat-panel-title>
          Cliente: Rimsha Fraser
        </mat-panel-title>
        <mat-panel-description>
          20/11/2021 10:00am - 05:00pm
        </mat-panel-description>
      </mat-expansion-panel-header>
      <p>Ubicación: Av. Salaverry 2155</p>
    </mat-expansion-panel>


    <mat-expansion-panel>
      <mat-expansion-panel-header>
        <mat-panel-title>
          Cliente: Dora Hope
        </mat-panel-title>
        <mat-panel-description>
          17/10/2021 08:00am - 12:00pm
        </mat-panel-description>
      </mat-expansion-panel-header>
      <p>Ubicación: Prolongación Primavera 2390</p>
    </mat-expansion-panel>


    <mat-expansion-panel>
      <mat-expansion-panel-header>
        <mat-panel-title>
          Cliente: Yvonne Head
        </mat-panel-title>
        <mat-panel-description>
          15/10/2021 10:00am - 02:00pm
        </mat-panel-description>
      </mat-expansion-panel-header>
      <p>Ubicación: Av. la Marina 2810</p>
    </mat-expansion-panel>


    <mat-expansion-panel>
      <mat-expansion-panel-header>
        <mat-panel-title>
          Cliente: Baxter Robbins
        </mat-panel-title>
        <mat-panel-description>
          24/11/2021 12:00pm - 06:00pm
        </mat-panel-description>
      </mat-expansion-panel-header>
      <p>Ubicación: Av. Salaverry 2155</p>
    </mat-expansion-panel>


    <mat-expansion-panel>
      <mat-expansion-panel-header>
        <mat-panel-title>
          Cliente: Aleena Ellison
        </mat-panel-title>
        <mat-panel-description>
          20/11/2021 11:00am - 04:00pm
        </mat-panel-description>
      </mat-expansion-panel-header>
      <p>Ubicación: Av. la Marina 2810</p>
    </mat-expansion-panel>


    <mat-expansion-panel>
      <mat-expansion-panel-header>
        <mat-panel-title>
          Cliente: Rimsha Fraser
        </mat-panel-title>
        <mat-panel-description>
          20/11/2021 10:00am - 05:00pm
        </mat-panel-description>
      </mat-expansion-panel-header>
      <p>Ubicación: Av. Salaverry 2155</p>
    </mat-expansion-panel>


    <mat-expansion-panel>
      <mat-expansion-panel-header>
        <mat-panel-title>
          Cliente: Dora Hope
        </mat-panel-title>
        <mat-panel-description>
          17/10/2021 08:00am - 12:00pm
        </mat-panel-description>
      </mat-expansion-panel-header>
      <p>Ubicación: Prolongación Primavera 2390</p>
    </mat-expansion-panel>


    <mat-expansion-panel>
      <mat-expansion-panel-header>
        <mat-panel-title>
          Cliente: Yvonne Head
        </mat-panel-title>
        <mat-panel-description>
          15/10/2021 10:00am - 02:00pm
        </mat-panel-description>
      </mat-expansion-panel-header>
      <p>Ubicación: Av. la Marina 2810</p>
    </mat-expansion-panel>


    <mat-expansion-panel>
      <mat-expansion-panel-header>
        <mat-panel-title>
          Cliente: Baxter Robbins
        </mat-panel-title>
        <mat-panel-description>
          24/11/2021 12:00pm - 06:00pm
        </mat-panel-description>
      </mat-expansion-panel-header>
      <p>Ubicación: Av. Salaverry 2155</p>
    </mat-expansion-panel>


    <mat-expansion-panel>
      <mat-expansion-panel-header>
        <mat-panel-title>
          Cliente: Aleena Ellison
        </mat-panel-title>
        <mat-panel-description>
          20/11/2021 11:00am - 04:00pm
        </mat-panel-description>
      </mat-expansion-panel-header>
      <p>Ubicación: Av. la Marina 2810</p>
    </mat-expansion-panel>


    <mat-expansion-panel>
      <mat-expansion-panel-header>
        <mat-panel-title>
          Cliente: Rimsha Fraser
        </mat-panel-title>
        <mat-panel-description>
          20/11/2021 10:00am - 05:00pm
        </mat-panel-description>
      </mat-expansion-panel-header>
      <p>Ubicación: Av. Salaverry 2155</p>
    </mat-expansion-panel>


    <mat-expansion-panel>
      <mat-expansion-panel-header>
        <mat-panel-title>
          Cliente: Dora Hope
        </mat-panel-title>
        <mat-panel-description>
          17/10/2021 08:00am - 12:00pm
        </mat-panel-description>
      </mat-expansion-panel-header>
      <p>Ubicación: Prolongación Primavera 2390</p>
    </mat-expansion-panel>


    <mat-expansion-panel>
      <mat-expansion-panel-header>
        <mat-panel-title>
          Cliente: Yvonne Head
        </mat-panel-title>
        <mat-panel-description>
          15/10/2021 10:00am - 02:00pm
        </mat-panel-description>
      </mat-expansion-panel-header>
      <p>Ubicación: Av. la Marina 2810</p>
    </mat-expansion-panel>


    <mat-expansion-panel>
      <mat-expansion-panel-header>
        <mat-panel-title>
          Cliente: Baxter Robbins
        </mat-panel-title>
        <mat-panel-description>
          24/11/2021 12:00pm - 06:00pm
        </mat-panel-description>
      </mat-expansion-panel-header>
      <p>Ubicación: Av. Salaverry 2155</p>
    </mat-expansion-panel>


    <mat-expansion-panel>
      <mat-expansion-panel-header>
        <mat-panel-title>
          Cliente: Aleena Ellison
        </mat-panel-title>
        <mat-panel-description>
          20/11/2021 11:00am - 04:00pm
        </mat-panel-description>
      </mat-expansion-panel-header>
      <p>Ubicación: Av. la Marina 2810</p>
    </mat-expansion-panel>


    <mat-expansion-panel>
      <mat-expansion-panel-header>
        <mat-panel-title>
          Cliente: Rimsha Fraser
        </mat-panel-title>
        <mat-panel-description>
          20/11/2021 10:00am - 05:00pm
        </mat-panel-description>
      </mat-expansion-panel-header>
      <p>Ubicación: Av. Salaverry 2155</p>
    </mat-expansion-panel>


    <mat-expansion-panel>
      <mat-expansion-panel-header>
        <mat-panel-title>
          Cliente: Dora Hope
        </mat-panel-title>
        <mat-panel-description>
          17/10/2021 08:00am - 12:00pm
        </mat-panel-description>
      </mat-expansion-panel-header>
      <p>Ubicación: Prolongación Primavera 2390</p>
    </mat-expansion-panel>


    <mat-expansion-panel>
      <mat-expansion-panel-header>
        <mat-panel-title>
          Cliente: Yvonne Head
        </mat-panel-title>
        <mat-panel-description>
          15/10/2021 10:00am - 02:00pm
        </mat-panel-description>
      </mat-expansion-panel-header>
      <p>Ubicación: Av. la Marina 2810</p>
    </mat-expansion-panel>


    <mat-expansion-panel>
      <mat-expansion-panel-header>
        <mat-panel-title>
          Cliente: Baxter Robbins
        </mat-panel-title>
        <mat-panel-description>
          24/11/2021 12:00pm - 06:00pm
        </mat-panel-description>
      </mat-expansion-panel-header>
      <p>Ubicación: Av. Salaverry 2155</p>
    </mat-expansion-panel>


    <mat-expansion-panel>
      <mat-expansion-panel-header>
        <mat-panel-title>
          Cliente: Aleena Ellison
        </mat-panel-title>
        <mat-panel-description>
          20/11/2021 11:00am - 04:00pm
        </mat-panel-description>
      </mat-expansion-panel-header>
      <p>Ubicación: Av. la Marina 2810</p>
    </mat-expansion-panel>


    <mat-expansion-panel>
      <mat-expansion-panel-header>
        <mat-panel-title>
          Cliente: Rimsha Fraser
        </mat-panel-title>
        <mat-panel-description>
          20/11/2021 10:00am - 05:00pm
        </mat-panel-description>
      </mat-expansion-panel-header>
      <p>Ubicación: Av. Salaverry 2155</p>
    </mat-expansion-panel>


    <mat-expansion-panel>
      <mat-expansion-panel-header>
        <mat-panel-title>
          Cliente: Dora Hope
        </mat-panel-title>
        <mat-panel-description>
          17/10/2021 08:00am - 12:00pm
        </mat-panel-description>
      </mat-expansion-panel-header>
      <p>Ubicación: Prolongación Primavera 2390</p>
    </mat-expansion-panel>


    <mat-expansion-panel>
      <mat-expansion-panel-header>
        <mat-panel-title>
          Cliente: Yvonne Head
        </mat-panel-title>
        <mat-panel-description>
          15/10/2021 10:00am - 02:00pm
        </mat-panel-description>
      </mat-expansion-panel-header>
      <p>Ubicación: Av. la Marina 2810</p>
    </mat-expansion-panel>


    <mat-expansion-panel>
      <mat-expansion-panel-header>
        <mat-panel-title>
          Cliente: Baxter Robbins
        </mat-panel-title>
        <mat-panel-description>
          24/11/2021 12:00pm - 06:00pm
        </mat-panel-description>
      </mat-expansion-panel-header>
      <p>Ubicación: Av. Salaverry 2155</p>
    </mat-expansion-panel>


    <mat-expansion-panel>
      <mat-expansion-panel-header>
        <mat-panel-title>
          Cliente: Aleena Ellison
        </mat-panel-title>
        <mat-panel-description>
          20/11/2021 11:00am - 04:00pm
        </mat-panel-description>
      </mat-expansion-panel-header>
      <p>Ubicación: Av. la Marina 2810</p>
    </mat-expansion-panel>


    <mat-expansion-panel>
      <mat-expansion-panel-header>
        <mat-panel-title>
          Cliente: Rimsha Fraser
        </mat-panel-title>
        <mat-panel-description>
          20/11/2021 10:00am - 05:00pm
        </mat-panel-description>
      </mat-expansion-panel-header>
      <p>Ubicación: Av. Salaverry 2155</p>
    </mat-expansion-panel>


    <mat-expansion-panel>
      <mat-expansion-panel-header>
        <mat-panel-title>
          Cliente: Dora Hope
        </mat-panel-title>
        <mat-panel-description>
          17/10/2021 08:00am - 12:00pm
        </mat-panel-description>
      </mat-expansion-panel-header>
      <p>Ubicación: Prolongación Primavera 2390</p>
    </mat-expansion-panel>


    <mat-expansion-panel>
      <mat-expansion-panel-header>
        <mat-panel-title>
          Cliente: Yvonne Head
        </mat-panel-title>
        <mat-panel-description>
          15/10/2021 10:00am - 02:00pm
        </mat-panel-description>
      </mat-expansion-panel-header>
      <p>Ubicación: Av. la Marina 2810</p>
    </mat-expansion-panel>


    <mat-expansion-panel>
      <mat-expansion-panel-header>
        <mat-panel-title>
          Cliente: Baxter Robbins
        </mat-panel-title>
        <mat-panel-description>
          24/11/2021 12:00pm - 06:00pm
        </mat-panel-description>
      </mat-expansion-panel-header>
      <p>Ubicación: Av. Salaverry 2155</p>
    </mat-expansion-panel>


    <mat-expansion-panel>
      <mat-expansion-panel-header>
        <mat-panel-title>
          Cliente: Aleena Ellison
        </mat-panel-title>
        <mat-panel-description>
          20/11/2021 11:00am - 04:00pm
        </mat-panel-description>
      </mat-expansion-panel-header>
      <p>Ubicación: Av. la Marina 2810</p>
    </mat-expansion-panel>


    <mat-expansion-panel>
      <mat-expansion-panel-header>
        <mat-panel-title>
          Cliente: Rimsha Fraser
        </mat-panel-title>
        <mat-panel-description>
          20/11/2021 10:00am - 05:00pm
        </mat-panel-description>
      </mat-expansion-panel-header>
      <p>Ubicación: Av. Salaverry 2155</p>
    </mat-expansion-panel>


    <mat-expansion-panel>
      <mat-expansion-panel-header>
        <mat-panel-title>
          Cliente: Dora Hope
        </mat-panel-title>
        <mat-panel-description>
          17/10/2021 08:00am - 12:00pm
        </mat-panel-description>
      </mat-expansion-panel-header>
      <p>Ubicación: Prolongación Primavera 2390</p>
    </mat-expansion-panel>


    <mat-expansion-panel>
      <mat-expansion-panel-header>
        <mat-panel-title>
          Cliente: Yvonne Head
        </mat-panel-title>
        <mat-panel-description>
          15/10/2021 10:00am - 02:00pm
        </mat-panel-description>
      </mat-expansion-panel-header>
      <p>Ubicación: Av. la Marina 2810</p>
    </mat-expansion-panel>


    <mat-expansion-panel>
      <mat-expansion-panel-header>
        <mat-panel-title>
          Cliente: Baxter Robbins
        </mat-panel-title>
        <mat-panel-description>
          24/11/2021 12:00pm - 06:00pm
        </mat-panel-description>
      </mat-expansion-panel-header>
      <p>Ubicación: Av. Salaverry 2155</p>
    </mat-expansion-panel>


    <mat-expansion-panel>
      <mat-expansion-panel-header>
        <mat-panel-title>
          Cliente: Aleena Ellison
        </mat-panel-title>
        <mat-panel-description>
          20/11/2021 11:00am - 04:00pm
        </mat-panel-description>
      </mat-expansion-panel-header>
      <p>Ubicación: Av. la Marina 2810</p>
    </mat-expansion-panel>


    <mat-expansion-panel>
      <mat-expansion-panel-header>
        <mat-panel-title>
          Cliente: Rimsha Fraser
        </mat-panel-title>
        <mat-panel-description>
          20/11/2021 10:00am - 05:00pm
        </mat-panel-description>
      </mat-expansion-panel-header>
      <p>Ubicación: Av. Salaverry 2155</p>
    </mat-expansion-panel>


    <mat-expansion-panel>
      <mat-expansion-panel-header>
        <mat-panel-title>
          Cliente: Dora Hope
        </mat-panel-title>
        <mat-panel-description>
          17/10/2021 08:00am - 12:00pm
        </mat-panel-description>
      </mat-expansion-panel-header>
      <p>Ubicación: Prolongación Primavera 2390</p>
    </mat-expansion-panel>


    <mat-expansion-panel>
      <mat-expansion-panel-header>
        <mat-panel-title>
          Cliente: Yvonne Head
        </mat-panel-title>
        <mat-panel-description>
          15/10/2021 10:00am - 02:00pm
        </mat-panel-description>
      </mat-expansion-panel-header>
      <p>Ubicación: Av. la Marina 2810</p>
    </mat-expansion-panel>


    <mat-expansion-panel>
      <mat-expansion-panel-header>
        <mat-panel-title>
          Cliente: Baxter Robbins
        </mat-panel-title>
        <mat-panel-description>
          24/11/2021 12:00pm - 06:00pm
        </mat-panel-description>
      </mat-expansion-panel-header>
      <p>Ubicación: Av. Salaverry 2155</p>
    </mat-expansion-panel>


    <mat-expansion-panel>
      <mat-expansion-panel-header>
        <mat-panel-title>
          Cliente: Aleena Ellison
        </mat-panel-title>
        <mat-panel-description>
          20/11/2021 11:00am - 04:00pm
        </mat-panel-description>
      </mat-expansion-panel-header>
      <p>Ubicación: Av. la Marina 2810</p>
    </mat-expansion-panel>


    <mat-expansion-panel>
      <mat-expansion-panel-header>
        <mat-panel-title>
          Cliente: Rimsha Fraser
        </mat-panel-title>
        <mat-panel-description>
          20/11/2021 10:00am - 05:00pm
        </mat-panel-description>
      </mat-expansion-panel-header>
      <p>Ubicación: Av. Salaverry 2155</p>
    </mat-expansion-panel>


    <mat-expansion-panel>
      <mat-expansion-panel-header>
        <mat-panel-title>
          Cliente: Dora Hope
        </mat-panel-title>
        <mat-panel-description>
          17/10/2021 08:00am - 12:00pm
        </mat-panel-description>
      </mat-expansion-panel-header>
      <p>Ubicación: Prolongación Primavera 2390</p>
    </mat-expansion-panel>


    <mat-expansion-panel>
      <mat-expansion-panel-header>
        <mat-panel-title>
          Cliente: Yvonne Head
        </mat-panel-title>
        <mat-panel-description>
          15/10/2021 10:00am - 02:00pm
        </mat-panel-description>
      </mat-expansion-panel-header>
      <p>Ubicación: Av. la Marina 2810</p>
    </mat-expansion-panel>


    <mat-expansion-panel>
      <mat-expansion-panel-header>
        <mat-panel-title>
          Cliente: Baxter Robbins
        </mat-panel-title>
        <mat-panel-description>
          24/11/2021 12:00pm - 06:00pm
        </mat-panel-description>
      </mat-expansion-panel-header>
      <p>Ubicación: Av. Salaverry 2155</p>
    </mat-expansion-panel>


    <mat-expansion-panel>
      <mat-expansion-panel-header>
        <mat-panel-title>
          Cliente: Aleena Ellison
        </mat-panel-title>
        <mat-panel-description>
          20/11/2021 11:00am - 04:00pm
        </mat-panel-description>
      </mat-expansion-panel-header>
      <p>Ubicación: Av. la Marina 2810</p>
    </mat-expansion-panel>


    <mat-expansion-panel>
      <mat-expansion-panel-header>
        <mat-panel-title>
          Cliente: Rimsha Fraser
        </mat-panel-title>
        <mat-panel-description>
          20/11/2021 10:00am - 05:00pm
        </mat-panel-description>
      </mat-expansion-panel-header>
      <p>Ubicación: Av. Salaverry 2155</p>
    </mat-expansion-panel>


    <mat-expansion-panel>
      <mat-expansion-panel-header>
        <mat-panel-title>
          Cliente: Dora Hope
        </mat-panel-title>
        <mat-panel-description>
          17/10/2021 08:00am - 12:00pm
        </mat-panel-description>
      </mat-expansion-panel-header>
      <p>Ubicación: Prolongación Primavera 2390</p>
    </mat-expansion-panel>


    <mat-expansion-panel>
      <mat-expansion-panel-header>
        <mat-panel-title>
          Cliente: Yvonne Head
        </mat-panel-title>
        <mat-panel-description>
          15/10/2021 10:00am - 02:00pm
        </mat-panel-description>
      </mat-expansion-panel-header>
      <p>Ubicación: Av. la Marina 2810</p>
    </mat-expansion-panel>


    <mat-expansion-panel>
      <mat-expansion-panel-header>
        <mat-panel-title>
          Cliente: Baxter Robbins
        </mat-panel-title>
        <mat-panel-description>
          24/11/2021 12:00pm - 06:00pm
        </mat-panel-description>
      </mat-expansion-panel-header>
      <p>Ubicación: Av. Salaverry 2155</p>
    </mat-expansion-panel>


    <mat-expansion-panel>
      <mat-expansion-panel-header>
        <mat-panel-title>
          Cliente: Aleena Ellison
        </mat-panel-title>
        <mat-panel-description>
          20/11/2021 11:00am - 04:00pm
        </mat-panel-description>
      </mat-expansion-panel-header>
      <p>Ubicación: Av. la Marina 2810</p>
    </mat-expansion-panel>


    <mat-expansion-panel>
      <mat-expansion-panel-header>
        <mat-panel-title>
          Cliente: Rimsha Fraser
        </mat-panel-title>
        <mat-panel-description>
          20/11/2021 10:00am - 05:00pm
        </mat-panel-description>
      </mat-expansion-panel-header>
      <p>Ubicación: Av. Salaverry 2155</p>
    </mat-expansion-panel>


    <mat-expansion-panel>
      <mat-expansion-panel-header>
        <mat-panel-title>
          Cliente: Dora Hope
        </mat-panel-title>
        <mat-panel-description>
          17/10/2021 08:00am - 12:00pm
        </mat-panel-description>
      </mat-expansion-panel-header>
      <p>Ubicación: Prolongación Primavera 2390</p>
    </mat-expansion-panel>


    <mat-expansion-panel>
      <mat-expansion-panel-header>
        <mat-panel-title>
          Cliente: Yvonne Head
        </mat-panel-title>
        <mat-panel-description>
          15/10/2021 10:00am - 02:00pm
        </mat-panel-description>
      </mat-expansion-panel-header>
      <p>Ubicación: Av. la Marina 2810</p>
    </mat-expansion-panel>


    <mat-expansion-panel>
      <mat-expansion-panel-header>
        <mat-panel-title>
          Cliente: Baxter Robbins
        </mat-panel-title>
        <mat-panel-description>
          24/11/2021 12:00pm - 06:00pm
        </mat-panel-description>
      </mat-expansion-panel-header>
      <p>Ubicación: Av. Salaverry 2155</p>
    </mat-expansion-panel>


    <mat-expansion-panel>
      <mat-expansion-panel-header>
        <mat-panel-title>
          Cliente: Aleena Ellison
        </mat-panel-title>
        <mat-panel-description>
          20/11/2021 11:00am - 04:00pm
        </mat-panel-description>
      </mat-expansion-panel-header>
      <p>Ubicación: Av. la Marina 2810</p>
    </mat-expansion-panel>


    <mat-expansion-panel>
      <mat-expansion-panel-header>
        <mat-panel-title>
          Cliente: Rimsha Fraser
        </mat-panel-title>
        <mat-panel-description>
          20/11/2021 10:00am - 05:00pm
        </mat-panel-description>
      </mat-expansion-panel-header>
      <p>Ubicación: Av. Salaverry 2155</p>
    </mat-expansion-panel>


    <mat-expansion-panel>
      <mat-expansion-panel-header>
        <mat-panel-title>
          Cliente: Dora Hope
        </mat-panel-title>
        <mat-panel-description>
          17/10/2021 08:00am - 12:00pm
        </mat-panel-description>
      </mat-expansion-panel-header>
      <p>Ubicación: Prolongación Primavera 2390</p>
    </mat-expansion-panel>


    <mat-expansion-panel>
      <mat-expansion-panel-header>
        <mat-panel-title>
          Cliente: Yvonne Head
        </mat-panel-title>
        <mat-panel-description>
          15/10/2021 10:00am - 02:00pm
        </mat-panel-description>
      </mat-expansion-panel-header>
      <p>Ubicación: Av. la Marina 2810</p>
    </mat-expansion-panel>


    <mat-expansion-panel>
      <mat-expansion-panel-header>
        <mat-panel-title>
          Cliente: Baxter Robbins
        </mat-panel-title>
        <mat-panel-description>
          24/11/2021 12:00pm - 06:00pm
        </mat-panel-description>
      </mat-expansion-panel-header>
      <p>Ubicación: Av. Salaverry 2155</p>
    </mat-expansion-panel>


    <mat-expansion-panel>
      <mat-expansion-panel-header>
        <mat-panel-title>
          Cliente: Aleena Ellison
        </mat-panel-title>
        <mat-panel-description>
          20/11/2021 11:00am - 04:00pm
        </mat-panel-description>
      </mat-expansion-panel-header>
      <p>Ubicación: Av. la Marina 2810</p>
    </mat-expansion-panel>


    <mat-expansion-panel>
      <mat-expansion-panel-header>
        <mat-panel-title>
          Cliente: Rimsha Fraser
        </mat-panel-title>
        <mat-panel-description>
          20/11/2021 10:00am - 05:00pm
        </mat-panel-description>
      </mat-expansion-panel-header>
      <p>Ubicación: Av. Salaverry 2155</p>
    </mat-expansion-panel>


    <mat-expansion-panel>
      <mat-expansion-panel-header>
        <mat-panel-title>
          Cliente: Dora Hope
        </mat-panel-title>
        <mat-panel-description>
          17/10/2021 08:00am - 12:00pm
        </mat-panel-description>
      </mat-expansion-panel-header>
      <p>Ubicación: Prolongación Primavera 2390</p>
    </mat-expansion-panel>


    <mat-expansion-panel>
      <mat-expansion-panel-header>
        <mat-panel-title>
          Cliente: Yvonne Head
        </mat-panel-title>
        <mat-panel-description>
          15/10/2021 10:00am - 02:00pm
        </mat-panel-description>
      </mat-expansion-panel-header>
      <p>Ubicación: Av. la Marina 2810</p>
    </mat-expansion-panel>


    <mat-expansion-panel>
      <mat-expansion-panel-header>
        <mat-panel-title>
          Cliente: Baxter Robbins
        </mat-panel-title>
        <mat-panel-description>
          24/11/2021 12:00pm - 06:00pm
        </mat-panel-description>
      </mat-expansion-panel-header>
      <p>Ubicación: Av. Salaverry 2155</p>
    </mat-expansion-panel>


    <mat-expansion-panel>
      <mat-expansion-panel-header>
        <mat-panel-title>
          Cliente: Aleena Ellison
        </mat-panel-title>
        <mat-panel-description>
          20/11/2021 11:00am - 04:00pm
        </mat-panel-description>
      </mat-expansion-panel-header>
      <p>Ubicación: Av. la Marina 2810</p>
    </mat-expansion-panel>



  </mat-accordion>

</mat-card>
