<img src="https://s3.envato.com/files/239186292/IMG_6244.jpg" class="bg">



<mat-card class="titulo">
  Registro de Solicitud de Limpieza
</mat-card>

<mat-card>

  <mat-card class="registro1">
    <span>Fecha: </span>
    <div class="spacer"></div>
    <span>27/11/2021</span>
  </mat-card>

  <mat-card class="registro1">
    <span>Hora Inicio:  </span>
    <div class="spacer"></div>
    <span>10:00am </span>
  </mat-card>
  <mat-card class="registro1">
    <span>Hora Fin: </span>
    <div class="spacer"></div>
    <span>02:00pm</span>
  </mat-card>
  <mat-card class="registro1">
    <span>Dirrección:</span>
    <div class="spacer"></div>
    <span> Av. Salaverry 2155 </span>
  </mat-card>
  <mat-card class="registro1">
    <span>Distrito: </span>
    <div class="spacer"></div>
    <span> San Isidro</span>
  </mat-card>
  <mat-card class="registro1">
    <span>Referencia:</span>
    <div class="spacer"></div>
    <span>  Av salaverry, frente a la residencial San Felipe</span>
  </mat-card>

</mat-card>

<mat-card>
  <button mat-button class="btnAceptar" type="submit" routerLink="/cleaning-worker">Aceptar Trabajo</button>
</mat-card>
